body {
    background-color: rgb(158, 199, 204);
    font-family: "Roboto", sans-serif;
}

.weather-app {
    background: white;
    max-width:600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
border-bottom: 1px solid #F9F7FE;
padding-bottom: 30px 0;    
}

.search-form-input {
background-color: #F9F7FE;
border: none;
border-radius: 6px;
width: 75%;
font-size: 16px;
padding: 15px 24px;
}

.search-form-button {
margin-left: 5px;
font-size: 16px;
background-color: rgb(51, 151, 151);
color: white;
border: none;
padding: 15px 20px;
line-height: 1;
border-radius: 5px;
}

.weather-app-data {
 display: flex;
 justify-content: space-between;   
}

main {
    padding: 30px 0;
}

.weather-app-city {
font-size: 38px;
font-weight: 900;
margin: 0;
}

.weather-app-details {
font-size: 16px;
line-height: 20px;
}
.weather-app-details strong {
color: #f65282;
}

a {
    color: rgb(51, 151, 151);
}

.weather-app-temperature-container {
    display: flex;
}

.weather-app-icon {
    width: 88px;
    height: 88px;
}

.weather-app-unit {
    margin-top: 6px;
    font-size: 28px;
}

.weather-app-temperature {
 font-size: 88px;
 line-height: 88px;
 font-weight: bold;   
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    display: flex;
    color: #000;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.8;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-temperature {
    font-size: 18px;
}

.weather-forecast-icon {
    font-size: 36px;
}

footer {
    border-top: 1px solid  rgb(44, 160, 175);
    text-align: center;
    padding-top: 30px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    color: rgba(39, 33, 66, 0.4);
}
